h2 {
    --fontSize: 1.5em;
    --lineHeight: 1em;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
}

h1 {
    --fontSize: 3em;
    --lineHeight: 1em;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
}

a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}