.EnvironmentReading {
    font-family: 'Dosis', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
}

.sensorDataLabel {
    color: rgba(255, 255, 255, .62);
}

.sensorData {
    text-align: left;

    td {
        padding-right: 4px;
    }
}